/** @format */
:root {
  --font-title: Libre Baskerville;
  --font-base: Source Sans Pro;

  --background-side-bar: rgba(37, 90, 140, 0.402);
  --background-title: rgba(20, 37, 51, 0.865);
  --first-color: rgba(0, 0, 0, 0.719);
  --second-color: rgba(255, 255, 255, 0.875);
}

body {
  font-family: var(--font-base);
  font-size: 14px;
  font-weight: 600;
  color: var(--first-color);
}
ul {
  padding-left: 20px;
}

li {
  margin-bottom: 7px;
}

.container {
  box-sizing: border-box;
  display: flex;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  padding: 10px;
  background-color: rgba(240, 248, 255, 0.616);
  box-shadow: -1px 1px 32px 0px #00000048;
  border-radius: 5px;
}

/* style side-bar */

.side-bar {
  box-sizing: border-box;

  padding-top: 30px;
  padding-right: 15px;
  padding-left: 15px;

  background-color: var(--background-side-bar);
}

.side-bar__title {
  padding: 15px;
  margin-left: -15px;
  margin-right: -15px;

  font-family: var(--font-title);
  font-size: 20px;

  background-color: var(--background-title);
  color: var(--second-color);
}

.img-container {
  display: block;
  overflow: hidden;
  max-width: 200px;
  max-height: 200px;
  border-radius: 50%;

  margin-left: auto;
  margin-right: auto;

  box-shadow: -1px 1px 32px 0px #137082;
}
img {
  display: block;
  width: 100%;
}

.side-bar__list {
  padding-left: 5px;
}

.side-bar__item {
  list-style: none;
}

.side-bar__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--first-color);
}

.svg-icon {
  width: 10px;
  height: 10px;
  margin-right: 10px;
}

/* style side-bar */

.summary-comtainer {
  box-sizing: border-box;
  padding-left: 30px;
  padding-right: 30px;
}
.summary__title-container {
  margin-left: -10px;
  margin-right: -20px;
  padding: 20px;
  background-color: var(--background-title);
}
.summary__title-name {
  width: 100%;
  margin: 0px;
  font-family: var(--font-title);
  font-size: 36px;
  text-align: center;
  color: var(--second-color);
}

.summary__title-name--des {
  font-size: 18px;
  text-align: center;
  color: var(--second-color);
}
.summary__title {
  display: flex;
  align-items: center;
  margin: 0;
  margin-left: -20px;
  margin-right: -20px;

  padding: 15px;
  font-family: var(--font-title);
  font-size: 24px;
  background-color: var(--background-title);
  color: var(--second-color);
}

.summary__title-s {
  display: flex;
  align-items: center;
  margin-left: -10px;
  margin-right: -20px;
  margin: 20px, 0;
  padding: 15px;
  font-family: var(--font-title);
  font-size: 20px;
  background-color: var(--background-title);
  color: var(--second-color);
}

.summary__title--des {
  margin: 0;
  padding-top: 10px;
  font-size: 16px;

  line-height: 1.8;
  color: var(--second-color);
}
.summary__link-container {
  display: flex;
}
.summary__link {
  text-decoration: none;
  font-size: 16px;
  color: #000000;
}
.margin-link {
  margin-left: 8px;
}
.work__title {
  font-size: 16px;
  font-weight: 700;
}
.education__title {
  font-size: 16px;
  font-weight: 700;
}
.goit-link {
  text-decoration: none;
  color: #000000;
}
.goit--black {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}
.goit--orange {
  font-family: Arial, Helvetica, sans-serif;
  color: #ff6b08;
}

@media screen and (max-width: 560px) {
  body {
    font-size: 12px;
  }
  .container {
    padding: 5px;
    margin-top: 0px;
    box-shadow: none;
  }
  .summary-comtainer {
    padding-left: 10px;
    padding-right: 10px;
  }

  .summary__title-name {
    font-size: 24px;
  }
  .summary__title-name--des {
    font-size: 14px;
  }
  .side-bar {
    padding-left: 5px;
    padding-right: 5px;
  }
  .side-bar__title {
    font-size: 16px;
    margin-left: -5px;
    margin-right: -5px;
  }
  .summary__title-container {
    margin-left: -5px;
    margin-right: -10px;
  }
  .summary__title {
    font-size: 18px;
  }

  .summary__title-s {
    font-size: 16px;
    margin-left: -5px;
    margin-right: -10px;
  }
  .summary__title--des {
    font-size: 14px;
  }
}
